<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teams</title>
</head>
<body>
    <nav style="display:flex;flex-direction:row;">
        <a href="/">Home   </a>
        <a href="/teams">All Teams   </a>
        <a href="/teams/new">Add A Team   </a>
    </nav>
    <h1>These Are All the Teams</h1>
    <ul>
        <% for (let i = 0; i < teams.length; i++) {%>
            <li>
                <a href="./teams/<%= teams[i].id %>">
                    <%=    teams[i].name %>
            </a>
            </li>
            <% }%>
    </ul>
</body>
</html>
