<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Team</title>
</head>
<body>
    <nav style="display:flex;flex-direction:row;width:60vw;">
        <a href="/">Home</a>
        <a href="/teams">All Teams</a>
        <a href="/teams/new">Add A Team</a>
    </nav>

    <form action="/teams" method="POST">
        <div>
            Team Name: <input type="text" name="name">
        </div>
        <div>
            Team Location: <input type="text" name="location">
        </div>
        <div>
            Super Bowls Won: <input type="number" name="superbowls">
        </div>
        <div>
            Obnoxious Fans?: <input type="checkbox" name="obnoxiousFans">
        </div>
        <input type="submit" value="Add Team">
    </form>
    
</body>
</html>
